.collapsable {
  margin-top: 100px;
  margin-bottom: 50px;
}

.colapsable__heading {
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
  font-size: 1.25rem;
  cursor: pointer;
}

.collapsable__arrow {
  margin-right: 15px;
  height: 16px;
  width: 15px;
  transition: all 0.4s;
}

.collapsable__arrow--down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.collapsible__content {
  padding-left: 50px;
  width: 80%;
  padding-bottom: 10px;
}

.collapsible__content p {
  margin: 0;
  padding: 1em 0;
}

.faq__cta {
  margin-top: 60px;
  display: block;
  position: relative;
}

.faq__banner {
  overflow: hidden;
  position: relative;
  padding: 60px 0;
}

.faq__banner--image {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.faq__banner--content {
  z-index: 1;
  color: white;
}

.faq__banner--overlay {
  opacity: 0.85;
  height: 200%;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.faq__banner .heading--small {
  margin-top: 0.5em;
}

.faq__banner a {
  float: right;
}

@media screen and (max-width: 720px) {
  .faq__banner--image,
  .faq__banner--content,
  .faq__banner--overlay {
    /* height: 200px; */
  }
  .faq__cta {
    /* margin-bottom: 220px; */
  }
  .faq__banner a {
    float: none;
  }
}
