.dimensions {
  padding-top: 100px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}

.what-is__section {
  border-bottom: 1px solid #d2d5db;
  padding-top: 120px;
  padding-bottom: 100px;
}

.what-is__section:last-child {
  border-bottom: none;
}

.what-is-ps__image1 {
  width: 80%;
  float: right;
}

.what-is-ps__image2,
.what-is-ps__image3 {
  float: right;
  height: auto;
  max-width: 85%;
}

.what-is-ps__image3 {
  float: left;
}

.ps-dimension__image {
  max-width: 75%;
  width: 140px;
  height: auto;
  margin-top: 25px;
  border-radius: 50%;
}

.ps-dimension__text {
  padding-right: 10%;
}

.stoplight__img {
  background-image: url('../images/semaforo.gif');
  background-repeat: no-repeat;
  background-position: 25% 100%;
  background-size: auto 457px;
  background-attachment: fixed;
}

@media screen and (max-width: 1300px) {
  .stoplight__img {
    background-position: 10% 100%;
  }
}

@media screen and (max-width: 720px) {
  .stoplight__img {
    background: none;
  }
}

.stoplight__text {
  padding-bottom: 50px;
}

.who-can-use-it__item {
  width: 90%;
}

.who-can-use-it__image {
  width: 100%;
  height: 240px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* TABS */

.tabs__intro {
  text-align: center;
  max-width: 50%;
  margin: 40px auto 60px;
}

.react-tabs__tab-list {
  padding: 0;
  width: 90%;
  margin: 0 auto -10px;
}

.what-it-is__tab {
  display: inline-block;
  text-align: center;
  width: 50%;
  color: #a5a5a5;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
  padding: 25px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.what-it-is__tab.react-tabs__tab--selected {
  background-color: #409737;
  color: #ffffff;
  /* padding: 25px 210px 25px 210px; */
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  line-height: 40px;
}

.what-it-is__panel {
  background-color: #f3f4f6;
}

.what-it-is__panel > .wrapper {
  padding: 80px 0;
}

.what-it-is__panel .heading--tab {
  padding-left: 20%;
}

.what-it-is__panel .tabs__ul {
  list-style-type: none;
  float: right;
  padding-top: 0;
  margin: 0;
}

.what-it-is__panel li {
  padding-top: 0;
}

.what-it-is__panel h2 {
  margin-top: 0.5em;
}

.what-it-is__panel .tabs__li p {
  float: right;
  padding-right: 100px;
  width: 90%;
}

.what-it-is__panel .tabs__arrow {
  width: 35px;
  position: absolute;
  margin-top: 30px;
}

@media screen and (max-width: 720px) {
  .what-is-ps {
    margin-bottom: 60px;
  }
  .what-is__section {
    padding-bottom: 60px;
    margin-top: 60px;
  }
  .what-is-ps__image2 {
    float: left;
  }
  .what-it-is__tab {
    width: 100%;
    padding: 20px;
  }
  .what-it-is__tab.react-tabs__tab--selected {
    line-height: 32px;
  }
  .what-it-is__panel {
    padding-top: 0;
  }
  .react-tabs__tab-panel--selected {
    padding-top: 20px;
  }
  .what-it-is__panel > .wrapper {
    padding: 0;
  }
  .what-it-is__panel .heading--tab {
    padding-left: 20px;
  }
  .what-it-is__panel .tabs__ul {
    padding-left: 0;
    margin-top: 0;
  }
  .what-it-is__panel .tabs__li p {
    padding-right: 0;
    width: 85%;
  }
  .react-tabs__tab-list {
    margin: 0 auto;
  }
  .dimensions {
    grid-template-columns: 100%;
  }
}
